.box {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    gap: 20px;
}

.dati {
    font-weight: bold;
}

input {
    border-radius: 15px;
    height: 20px;
}

input[type="radio"] {
    width: 20px;
}

button {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    background-color: #242423;
    color: #f1d893;
    font-size: 1em;

}

button:hover {
    font-weight: bold;
    font-size: 1.1em;
}

.login {
    height: 26px;
    width: 80px;
    font-size: 12px;
    transition: font-size, 0.5s;
}

.login:hover {
    font-size: 14px;
}

table {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid black;
}

.saldo {
    margin-left: auto;
    margin-right: 10%;
    font-weight: bold;
    text-align: end;
}